
* {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #20212A;
}

header {
  text-align: center;
  padding: 40px 0;
  margin: 20px 20%;
  background-color: #70A7B6;
}

header h1 {
    font-family: "Comfortaa", sans-serif;
    text-transform: uppercase;
    font-size: 6vw; 
    color: #171113;
}

main {
  display: flex;
  flex-direction:row;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

form div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="file"] {
  display: block;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  color: #171113;
  background-color: #EDE6E2;
}

input[type="file"]::-webkit-file-upload-button {
  background: #70A7B6;
  color: #f8f8f8;
  padding: 15px 15px;
  margin: 10px;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background: #171113;
  color: #f8f8f8;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  color: #f8f8f8;
  background: #70A7B6;
}

button:hover {
  background: #171113;
  color: #f8f8f8;
}

textarea {
  font-size: 15px;
  padding: 10px;
  white-space: pre-wrap;
  background-color: #EDE6E2;
  width: 100%;
  height: 500px;
  resize: none;
}

select {
  display: block;
  font-size: 18px;
  padding: 20px;
  margin: 10px;
  background-color: #EDE6E2;
}      
